.app-container {
  .title-section {
    .app-title {
      width: 100%;
      text-align: center;
      padding-top: 15px;
      font-weight: bold;
    }
  }

  .m40 {
    margin-top: 40px;
  }

  .refresh-btn {
    float: right;
    margin-bottom: 8px;
    margin-right: 12px;
  }

  .table {
    margin-top: 5px;
    .del-btn {
      float: right;
    }
  }
}
