<div class="app-container container">
    <div class="row title-section">
        <h1 class="app-title">{{title}}</h1>
    </div>
    <div class="row m40">
        <div class="col-md-6">
            <app-todoform></app-todoform>
        </div>
        <div class="col-md-6">
            <div class="refresh-btn">
                <button class="btn btn-sm btn-primary" (click)="refresh()">Refresh</button>
            </div>
            <table class="table">
                <thead>
                    <th>Todo</th>
                    <th>Date</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let t of todo">
                        <td>{{t.todo}}</td>
                        <td>{{t.date | date}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary del-btn" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                            data-target="#delete" (click)="getId(t._id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal for delete -->
<div class="modal fade" id="delete">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="clearData()">&times;</button>
            </div>
            <div class="modal-body">
              <div class="mt-3">
                <p>Do you really want to delete this todo?</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm transparent-default" data-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn-primary btn-sm default-btn" data-dismiss="modal"
                (click)="delete()">
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>